<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Regnskab
      </h1>
      <h2 class="subtitle">
        Styr på det
      </h2>
    </div>
  </div>
</section>

<form #entry="ngForm" class="control">
  <section class="section">
    <div class="container">
      <div class="columns is-12">

        <div class="column">
          
          <div class="field">
            <label class="label">Entry name</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" 
              name="entryname" 
               [(ngModel)]="entryName" 
               [ngClass]="{'is-success': entryName}" 
               type="text" 
               placeholder="Input the name of your entry">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
              </span>
            </div>
            <p class="help is-success" *ngIf="entryName">
              Input is valid
            </p>
          </div>
          
          <div class="columns is-mobile">
            
            <div class="column is-6">
              
              <div class="field">
                <label class="label">Category</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select [(ngModel)]="category" name="category">
                      <option>-</option>
                      <option>Hobby</option>
                      <option>Food</option>
                      <option>Going out</option>
                    </select>
                  </div>
                </div>
              </div>
              
            </div>
            
            <div class="column is-6">
              
              <div class="field">
                <label class="label">Sub-category</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select [(ngModel)]="subcategory" name="subcategory" [disabled]="!category">
                      <option>-</option>
                      <option>Food</option>
                      <option>Going out</option>
                    </select>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
          
        </div>

        <div class="column">
          <div class="field">
            <label class="label">Account</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select [disabled]="!category">
                  <option>Food</option>
                  <option>Going out</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="container">
      <div class="columns is-mobile">
        <div class="column">
          <label class="label">Date</label>
          <div class="field has-addons">
            <div class="control is-expanded">

              <input class="input" 
               placeholder="Select a date" 
               ngx-mydatepicker 
               name="dateModel" 
               [(ngModel)]="dateModel"
               [options]="dateOptions" 
               #dp="ngx-mydatepicker" 
               (dateChanged)="onDateChanged($event)" />
            </div>
      
            <div class="control">
              <button class="button is-primary"
               (click)="dp.toggleCalendar()">
                Choose
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="columns is-12">
        <div class="column">
          <button class="button is-primary is-fullwidth"
           [disabled]="!category">
            Add entry
          </button>
        </div>
      </div>
    </div>
  </section>
</form>
        